<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="css/main.css", rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", rel="stylesheet")
    title TodoList
  body

  form(method="post")
    table.table-bordered.table-striped.table-dark
      thead
        tr
          th
            label(for="addname") Name
            input(type="text", name="addname").form-control#addname
          th 
            label(for="addrank") Rank
            input(type="text", name="addrank").form-control#addrank
          th 
            label(for="addscore") Score
            input(type="text", name="addscore").form-control#addscore
          th: button.btn.btn-primary(type="submit") +
      tbody
        tr.tr-item
          td Eduard
            input(type="text").form-control
          td Middle
            input(type="text").form-control
          td 300
            input(type="text").form-control 
          td
            .btn-group
              a.btn.btn-danger.delete Delete
              a.btn.btn-warning.edit Edit
        tr.tr-item
          td Saga
            input(type="text").form-control
          td Junior
            input(type="text").form-control
          td 550
            input(type="text").form-control
          td
            .btn-group
              a.btn.btn-danger.delete Delete
              a.btn.btn-warning.edit Edit
        tr.tr-item
          td Eric
            input(type="text").form-control
          td Middle
            input(type="text").form-control
          td 1100
            input(type="text").form-control
          td
            .btn-group
              a.btn.btn-danger.delete Delete
              a.btn.btn-warning.edit Edit

  script(src="index.js")
  